@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-principal:#000;
  --color-secundary:#22D4FD;
  --color-tertiary:#f6f6f6 ;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 488px;
  box-sizing: border-box;
  background-color: var(--color-principal);
   color: var(--color-tertiary);
}

.cabecalho {
  width: 299px;
  height: 29px;
  top: 65px;
  left: 360px;
  padding: 2% 0% 0% 19% ;
}

.cabecalho__menu {
  display: flex;
  width: 1000px; 
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  height: 29px;
  top: 65px;
  color:var(--color-secundary);
  text-decoration: none;
}

.home{
  width: 83px;
  height: 29px;
  top: 65px;
  left: 360px;
  
}

.sobre {
  width: 136px;
  height: 29px;
  top: 65px;
  left: 523px;

    
}

.titulo-destaque {
  color: var(--color-secundary);
}

a {
  margin: 15px;
  top: 681px;
}

.container {
  margin: 10% 19%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 82px;
}

.container__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 40px;
  
}

.container__conteudo__titulo {
  font-size: 2.25rem;
  font-family: "Krona One", sans-serif;
}

.container__conteudo__texto {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.container__links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.container__links h3 {
  font-family: Krona One;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 40px;
  text-align: center;

}
 
.container__link {
  display: flex;
  justify-content: center;
  border: 2px solid var(--color-secundary);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 70%;
  text-align: center;
  height: 40px;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 16px;
  gap: 16px;
  text-decoration: none;
  
}

.container__links .container__link__img {
  width: 10%;
}

.container__link:hover {
  background-color: #272727;
}

.container img {
  width: 488px;
  height: 550px;
  top: 235px;
  left: 1030px;
  border-radius: 16px;
  gap: 40px;
  margin-left: 50px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1920px;
  height: 80px;
  top: 1071px;
  background-color: var(--color-secundary);

}

.footer h4 {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--color-principal);
}



.container__link img {
  width: 50%;
  height: 32px;

}

@media (max-width:1200px) {
  .cabecalho {
    display: flex;
    flex-direction: column;
    padding: 10%;
  }
  .cabecalho__menu {
    align-items: center;
    justify-content: center;
    
  } 

  .container {
    flex-direction: column-reverse;
  }

  /* .container img {
    width: 27.8569rem;
    height: 31.39625rem;
    top: 17.9375rem;
    left: 8.6875rem;
  }

  .container__conteudo {
    height: 22rem;
    top: 54.375rem;
    left: 3.5rem;

  }

  .container__links{
    width: 24.125rem;
    height: 16.75rem;
    top: 85.9375rem;
    left: 10.4375rem;
    
  }
  .footer {
    width: 45rem;
    height: 5.5rem;
    top: 106.9375rem;
  } */
}